<footer class="bgcolor text-white">
    <div class="container pt-lg-5">
        <div class="row">
            <div class="col-xl-3 col-7 maindiv">
                <img src="https://studentgator.com/assets/images/navbar/studentgator%20icon/logo.svg" alt="">
                <h6 class="line">Walking with you every step of the way to help you achieve academic excellence</h6>
            </div>
            <div class="col-xl-3 col-6 maindiv1">
                <h4>Services</h4>
                <a routerLink="">
                    <h6>Application</h6>
                </a>
                <a routerLink="">
                    <h6>Confirm</h6>
                </a>
                <a routerLink="">
                    <h6>Visa</h6>
                </a>
                <a routerLink="">
                    <h6>Accomodation</h6>
                </a>
                <a routerLink="">
                    <h6>In France</h6>
                </a>
            </div>
            <div class="col-xl-3 col-6 maindiv1">
                <h4>Information</h4>
                <a routerLink="">
                    <h6>Home</h6>
                </a>
                <a routerLink="">
                    <h6>Programs</h6>
                </a>
                <a routerLink="">
                    <h6>Blogs</h6>
                </a>
                <a routerLink="">
                    <h6>About us</h6>
                </a>
                <a routerLink="">
                    <h6>Login</h6>
                </a>
            </div>
            <div class="col-xl-3 maindiv2">
                <h4>Contact us</h4>
                <h6><i class="fas fa-phone me-1"></i> +33 7 66 70 09 73</h6>
                <h6><i class="fas fa-envelope me-1"></i> admin@studentgator.com</h6>
                <h6><i class="fas fa-home line me-1"></i> 42 Av. Claude Vellefaux, 75010 Paris, France</h6>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-xl-2 col-3 d-flex justify-content-between socials">
                <a routerLink=""><i class="fab fa-instagram social"></i></a>
                <a routerLink=""><i class="fab fa-linkedin-in social"></i></a>
                <a routerLink=""><i class="fab fa-twitter social"></i></a>
                <a routerLink=""><i class="fab fa-facebook-f social"></i></a>
            </div>
        </div>
        <hr>
        <p class="finall pb-4">© 2021 StudentGator All rights reserved.</p>
    </div>
</footer>