<div class="row">
    <div class="col-lg-6">
        <h5 class="mb-0 pt-3 ">What They Do?</h5><br>
        <div>
            <div class="d-flex justify-content-between">
                <p class="titlepro">Media and Communication</p>
                <p class="numpro">42%</p>
            </div>
            <div class="progress">
                <div class="progress-bar numpro1" role="progressbar" style="width: 42%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <p class="titlepro">Marketing</p>
                <p class="numred">33%</p>
            </div>
            <div class="progress">
                <div class="progress-bar numred1" role="progressbar" style="width: 33%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <p class="titlepro">Arts and Design</p>
                <p class="numyellow">40%</p>
            </div>
            <div class="progress">
                <div class="progress-bar numyellow1" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div><br><br>
    <div class="col-lg-6">
        <h5 class="mb-0 pt-3">What They Do?</h5><br>
        <div>
            <div class="d-flex justify-content-between">
                <p class="titlepro">Advertising</p>
                <p class="numpro">13%</p>
            </div>
            <div class="progress">
                <div class="progress-bar numpro1" role="progressbar" style="width: 13%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <p class="titlepro">Marketing</p>
                <p class="numred">40%</p>
            </div>
            <div class="progress">
                <div class="progress-bar numred1" role="progressbar" style="width: 40%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <p class="titlepro">Communication, General</p>
                <p class="numyellow">47%</p>
            </div>
            <div class="progress">
                <div class="progress-bar numyellow1" role="progressbar" style="width: 47%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>