<div class="row">
    <div class="col-lg-4 col-12 align-items-center alldiv">
        <circle-progress [percent]="74" [radius]="80" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(111,119,244)'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300"></circle-progress>
        <h5 class="text-center align-items-center">France</h5>
    </div>
    <div class="col-lg-4 col-12">
        <circle-progress [percent]="14" [radius]="80" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255,81,81)'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300"></circle-progress>
        <h5 class="text-center">United States</h5>
    </div>
    <div class="col-lg-4 col-12">
        <circle-progress [percent]="12" [radius]="80" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(246,216,106)'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300"></circle-progress>
        <h5 class="text-center">India</h5>
    </div>
</div><br><br>



<div>
    <p class="live mt-2">Where They Work?</p>
</div>
<div class="row">
    <div class="col-lg-4 col-12">
        <circle-progress [percent]="30" [radius]="80" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(111,119,244)'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300"></circle-progress>
        <h5 class="text-center">LOréal</h5>
    </div>
    <div class="col-lg-4 col-12">
        <circle-progress [percent]="32" [radius]="80" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255,81,81)'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300"></circle-progress>
        <h5 class="text-center">BNP Paribas</h5>
    </div>
    <div class="col-lg-4 col-12">
        <circle-progress [percent]="38" [radius]="80" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(246,216,106)'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300"></circle-progress>
        <h5 class="text-center">Societe Generale</h5>
    </div>
</div><br><br>