<nav class="navbar navbar-expand-lg bg-light pt-lg-3 pb-lg-3">
  <div class="container">
    <img class="navbar-brand" src="https://studentgator.com/assets/images/navbar/studentgator%20icon/logo.svg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a (click)="background=false;background1=true;background2=false;background3=false"
            [class.active]="background1" class="nav-link links px-lg-3 text-center">Home</a>
        </li>
        <li class="nav-item">
          <a (click)="background=false;background1=false;background2=true;background3=false"
            [class.active]="background2" class="nav-link links px-lg-3 text-center" routerLink="#">About us</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/programs" (click)="background=true;background1=false;background2=false;background3=false"
            [class.active]="background" class="nav-link links px-lg-3 text-center" routerLink="/programs">Programs</a>
        </li>
        <li class="nav-item">
          <a (click)="background=false;background1=false;background2=false;background3=true"
            [class.active]="background3" class="nav-link links px-lg-3 text-center" routerLink="#">Blogs</a>
        </li>
      </ul>
      <form class="d-flex justify-content-between" role="search">
        <div class="d-flex me-2">
          <input #search style="display: none;" class="form-control inputsearch" type="search">
          <button (click)="displayInput()" class="btnsearch"><i
              class="fa fa-search search-icon iconsearch"></i></button>
        </div>
        <button routerLink="/login" (click)="background=false;background1=false;background2=false;background3=false"
          class="logbtn px-2 py-1" type="submit">LOGIN</button>
      </form>
    </div>
  </div>
</nav>